$black: #010000;
$green: rgb(78, 204, 78);
$white: #ffffff;
$yellow: #3aaf4eb0;
$yellow1: #faed3c;
$lightgray: #29b329;
$darkgray: rgb(207, 202, 202);
$red: #d1cecf;
$lightblue: rgb(38, 38, 238);
$blue: rgb(38, 38, 238);
$borderColorProduct: #1d1c1c;
$productFooter: #e4e4e4ce;
$color1: rgba(248, 237, 237, 0.925);
//ofek colors
$midnight: #104f55;
$text-red: #d50000;
$background-lightGray: rgb(0, 0, 0.5);
$background-darkGray: rgb(0, 0, 0.6);
$background-green: #69f0ae;
$background-lightyellow: #f0f4c3;
$brown: #975d11;
$brown-dark: #633f0f;
$brown-border: #e0cab0;
// end ofek colors
/*
option colors:
$color1: #e09c59;
$color1: #43bbe0;
$color1: #aee070;

*/
body {
  font-size: 18px;
  background-color: $color1;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

/*
@mixin translateY(@e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
        transform: translateY(@e);
}

@mixin transition($e) {
    -webkit transition:$e;
    -moz-transition:$e;
        transition:$e;
}
*/
